.cor1{
    background-color: rgb(85, 212, 85);
}
.cor2{
    background-color: rgb(15, 141, 15);
}
.cor3{
    background-color: rgb(3, 83, 3);
}
.cor4{
    background-color: rgb(5, 65, 5);
}
.cor5{
    background-color: rgb(118, 177, 118);
}
.cor6{
    background-color: rgb(253, 253, 253);
}
.cor7{
    background-color: rgb(85, 212, 85);
}
.cor8{
    background-color: rgb(235, 6, 6);
}
.cor9{
    background-color: rgb(160, 29, 12);
}
.cor10{
    background-color: rgb(71, 8, 8);
}
.cor11{
    background-color: rgb(131, 6, 6);
}
.cor12{
    background-color: rgba(129, 8, 8, 0.781);
}
